# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/docs
!/installer
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!THIRD_PARTY_NOTICES.md

# Exclude lock files
*.lock.json

# Never commit generated Python cache/bytecode
__pycache__/
*.py[cod]

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
